<%= render :partial => 'tabs', :locals => {:current => "my_promotion"} %>
<% form_for(:promotion_category, :url => object_url, :html => { :method => :put, :multipart => true }) do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
	</table>
	<p>
  <%= render :partial => 'shared/edit_resource_links' %>
</p>
<% end %>
